.container {
  padding: 16px;
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.selectionText {
  font-size: 1rem;
  font-weight: bold;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.tableHeader {
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tableHeader th {
  padding: 10px;
}

.row {
  border-bottom: 1px solid #ddd;
}

.row td {
  padding: 10px;
}

.statusDot {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: green;
  border-radius: 50%;
  margin-right: 8px;
}

.button {
  padding: 8px 16px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  text-decoration: none;
}

.downloadImage{
  margin-right: 2px;
}